# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Testing / Cache
# =========================
.pytest_cache/
.mypy_cache/
.tox/
.coverage
htmlcov/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log